# Supabase creds for user auth
SUPABASE_URL=my-supabase-url.supabase.com
SUPABASE_API_KEY=my-supabase-api-key
SUPABASE_JWT_SECRET=my-supabase-jwt-secret

# The domain name of the API. I.e., https://my-api.mydomain.com
API_DOMAIN=https://api.opensauced.pizza

# Postgres db for the API to use
TYPEORM_CONNECTION=postgres
TYPEORM_HOST_API=localhost
TYPEORM_PORT_API=25060
TYPEORM_USERNAME_API=doadmin
TYPEORM_PASSWORD_API=password
TYPEORM_DATABASE_API=defaultdb
TYPEORM_SYNCHRONIZE_API=false
TYPEORM_SSL_CERT_API="-----BEGIN CERTIFICATE-----\n ..."

# Timescale db for time series data
TYPEORM_CONNECTION_TIMESCALE=postgres
TYPEORM_HOST_TIMESCALE=localhost
TYPEORM_PORT_TIMESCALE=38383
TYPEORM_USERNAME_TIMESCALE=tsdbadmin
TYPEORM_PASSWORD_TIMESCALE=password
TYPEORM_DATABASE_TIMESCALE=tsdb
TYPEORM_SSL_CERT_API_TIMESCALE="-----BEGIN CERTIFICATE-----\n ..."

# Postgres db for logs (can be the same as the normal API database)
TYPEORM_CONNECTION_LOGGING=postgres
TYPEORM_HOST_LOGGING=localhost
TYPEORM_PORT_LOGGING=25060
TYPEORM_USERNAME_LOGGING=doadmin
TYPEORM_PASSWORD_LOGGING=password
TYPEORM_DATABASE_LOGGING=defaultdb
TYPEORM_SYNCHRONIZE_LOGGING=false
TYPEORM_SSL_CERT_API_LOGGING="-----BEGIN CERTIFICATE-----\n ..."

# Remote host of the pizza oven service and port
PIZZA_OVEN_HOST="http://localhost"
PIZZA_OVEN_PORT=8080

# Env vars for performing OpenAI operations
OPENAI_API_KEY=my-openai-api-key
OPENAI_COMPLETIONS_API_URL=my-openai-completions-endpoint

# Developer Pack API
DEVELOPER_PACK_API="http://locahost"
