# Global env
DEBUG=*
API_HOST=0.0.0.0
API_PORT=3001

# Database ORM configuration
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=ospz-local
TYPEORM_PASSWORD=UCN2zrH2WGxKck7tT2JG4MY6wbHkeX9s
TYPEORM_DATABASE=ospz-local

# OAUTH2 configuration
SUPABASE_URL=db.localhost
SUPABASE_API_KEY=test
SUPABASE_JWT_SECRET=test

# Stripe Configuration
STRIPE_SECRET_KEY=test
STRIPE_SUBSCRIPTION_PRICE_ID=price_test
STRIPE_CHECKOUT_SESSION_SUCCESS_URL=http://localhost:3001?subscription_success=true
STRIPE_CHECKOUT_SESSION_CANCEL_URL=http://localhost:3001?subscription_cancel=true
